{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iniciar sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>
{% block contenido %} 
<style>
    body{
        background: #215a6d
    }
</style>
<div class=" mt-5row align-items-md-stretch" style="justify-content: center; display: flex; text-align: center; background: #215a6d;">  
    <div class="col-md-4 st">
        <div class="h-100 p-5 mt-5 text-white bg-success shadow-lg bg-body-tertiary rounded">
            <img src=" {% static 'descarga.png' %} " width="90%" alt="">
            <form method="post" action="{% url 'inicio' %}">{% csrf_token %}
                <label> Rut</label>
                <div class="input-group mb-3">
                    <input id="rut" class="form-control " placeholder="Documento" name="rut" type="text">
                </div>
                <label> Contraseña </label>
                <input id="password" class="form-control " placeholder="Contraseña" name="password" type="password" value=""><br>
                <input class="btn btn-light" type="submit" value="Iniciar sesión">
                {% if error_message %}
                    <p>{{ error_message }}</p>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}