{% extends "paginas/viewuser.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} <h1>Nosotros</h1>

<p> Somos una empresa dedica a facilitar tu vida y el cuidado de tu mascota con el fin de poder apoyarlos a ambos a encontrar un lugar seguro donde puedas dejar al cuidado de manos expertas a tu apoyo canino, para esto nosotros nos dedicamos a buscar paginas las cuales son calificadas por usuarios que ya ocuparon los serivicio de paginas a las cuales representamos de esta manera poder filtrar y buscar la mejor opcion para ti.</p>

{% endblock %}